*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: rgb(167, 209, 233);
    height: 110px; /*!modificar altura de la barra*/
    border-bottom: 2px solid black;
}

main {
    display: flex;
}

/*--------------NAVBAR---------------------------------------------*/

/*--LOGO DEL NAVBAR--*/
.container-img {
    display: flex;
    align-items: center;
    width: 25%;    
}

.container-img img {
    width: 80px;
    margin-left: 10px;
    margin-bottom: 0;
    border-radius: 50%;
}

.container-img a {
    text-decoration: none;
    font-size: 30px;
    padding-left: 10px;
}

/*--BARRA DE NAVEGACION DE PAGINAS--*/
.container-links {
    width: 65%;
    font-size: 30px;
    display: flex;
    align-items: center;
    
}

.container-links a {
    text-decoration: none;
    border-bottom:  1px solid black;
    border-right:  1px solid black;
    border-radius: 0 0 10px;
    margin: 10px;
    padding: 10px;
    color: black;
}

/*--MENU DE USUARIO--*/
.container-menu {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    
}

.menu-user {
    width: 15%;
    display: flex;
    align-items: center;
}

.menu-user a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-bottom:  1px solid black;
    border-right:  1px solid black;
    border-radius: 0 0 10px;
    margin-right: 5px;
    padding: 10px;
    
}

.container-menu img {
    width: 80px;
    border-radius: 50%;
    display: flex;
    
}
		
        
        
/*----------------------------------------------------------------------------*/  
.BC{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 30px;
    


}
.contenedor1 input {
 margin-bottom: 5px;
}
.contenedor2 p,
.contenedor2 input {
margin-bottom: 9px;
}
.contenedor1{

text-align: justify;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
width: 450px;
height: 100%;
margin:auto;
padding: 30px;
background-color: #ccc;
border: 1px solid black;
margin: 40px;
display: inline-block;
top:30px;
}
.contenedor2{
text-align: justify;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
width: 450px;
height: 100%;
margin: auto;
padding: 30px;
background-color: #ccc;
border: 1px solid black;
margin: 90px;
display: inline-block;
top:30px;
}
table {
position: relative;
border-collapse: collapse;
width: 100%;
bottom: -280px;
left:-130%;
}
th, td {
border: 1px solid black;
padding: 5px;
text-align: center

}
input[type="text"],
input[type="number"],
select {
padding:2px;
margin-left: 5px;
}
button{
float:right;
border-radius: 10px;
background-color:white;
padding: 10px;
font-size: 15px;

}

    
#mostrar-datos {
    margin-top: 20px;
  }
  
  #tabla-pacientes {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  
  #tabla-pacientes th,
  #tabla-pacientes td {
    position: absolute;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #tabla-pacientes th {
    background-color: #f2f2f2;
  }
