*{
    margin: 0;
    padding: 0;
}
form {
    margin: 10px;
}

.container-login {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-login h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container-login label {
    display: block;
    text-align: left;
}

.container-login input[type="text"],
.container-login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-login input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-login a {
    
    color: #333;
}


/*-------------------------------------------------------------------------*/
