body {
	margin: 0;
	padding: 0;
}

nav {
    display: flex;
    background-color: rgb(167, 209, 233);
    height: 110px; /*!modificar altura de la barra*/
    border-bottom: 2px solid black;
}

/*---------------------------------------------------------------*/

/*--LOGO DEL NAVBAR--*/
.container-img {
    display: flex;
    align-items: center;
    width: 25%;    
}

.container-img img {
    width: 80px;
    margin-left: 10px;
    margin-bottom: 0;
    border-radius: 50%;
}

.container-img a {
    text-decoration: none;
    font-size: 30px;
    padding-left: 10px;
}

/*--BARRA DE NAVEGACION DE PAGINAS--*/
.container-links {
    width: 65%;
    font-size: 30px;
    display: flex;
    align-items: center;
    
}

.container-links a {
    text-decoration: none;
    border-bottom:  1px solid black;
    border-right:  1px solid black;
    border-radius: 0 0 10px;
    margin: 10px;
    padding: 10px;
    color: black;
}

/*--MENU DE USUARIO--*/
.container-menu {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    
}

.menu-user {
    width: 15%;
    display: flex;
    align-items: center;
}

.menu-user a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-bottom:  1px solid black;
    border-right:  1px solid black;
    border-radius: 0 0 10px;
    margin-right: 5px;
    padding: 10px;
    
}

.container-menu img {
    width: 80px;
    border-radius: 50%;
    display: flex;
    
}

/*---------------------------------------------------------------*/


.left-section {
	width: 50%;
	float: left;
	padding: 20px;
}

.right-section {
	width: 50%;
	float: right;
	padding: 20px;
}

h2 {
	text-align: center;
}

form 
{
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

label 
{
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

button[type="submit"] {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #0069d9;
}
